/* 
Flex Container - Parent element.
Flex Item - Children elements.
Main axis - left to right
Cross axis - top to bottom
Display on parent always needs to be there before any flex properties work on children elements

Flex-flow is short hand for flex direction and flex wrap
EXAMPLE: flex-flow: column, warp; 

Justify content - aligns the elements on the main axis (flex-start (left), center, flex-end(right)--you can also use space-between, space-around, space-evenly to handle the extra space in the container.)
Align-items- (add a height to your container)-how items are layed out on the cross axis - vertically - value can be stretch (entire length)-flex-start(top)-flex-end(bottom)-center(middle).
Align-content - (have height and wrapping)-values are - flex-start, flex-end, center, space-between all space between the lines, space-around.

Align-item Values:

order- arraging the items in a specified order. All default at zero-anything above zero will go to the end. lowest to highest order.

*/

body {
  margin: 0;
}
.container {
  border: 6px solid black;
  display: flex; /* initially left to right --flex will act like a block element but if you make it inline-flex it will wrap only around children element*/
  flex-direction: row; /* row, row-reverse (left to right vice versa), column, colum-reverse (top to bottom-vise versa)*/
  flex-wrap: wrap; /*wrap, nowrap, wrap-reverse(moves to row above instead of below) 
  ----
  If I want to wrap in a column then I would need to make sure flex direction is a column and add a height --my content may go outside of the container 
  until I add wrap my content*/
  height: 800px;
  justify-content: space-around; /*cross axis*/
  align-items: flex-start; /*main axis*/
}
.flex-item {
  color: green;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item1 {
  background-color: grey;
}
.item2 {
  background-color: black;
  order: 1;
}
.item3 {
  background-color: pink;
}
.item4 {
  background-color: rgb(238, 161, 174);
}
.item5 {
  background-color: rgb(241, 106, 129);
}
.item6 {
  background-color: rgb(252, 97, 123);
}
.item7 {
  background-color: rgb(243, 227, 135);
}
.item8 {
  background-color: rgb(235, 190, 95);
}
.item9 {
  background-color: rgb(241, 222, 48);
}
